WOODPECKER_ADMIN=your-github-username
WOODPECKER_HOST=https://ci.stanley.arpa
# Temporarily set to true only for first-login/bootstrap if closed registration blocks admin signup.
# After successful login, set it back to false and recreate woodpecker-server.
WOODPECKER_OPEN=false
GITHUB_CLIENT_ID=replace-me
GITHUB_CLIENT_SECRET=replace-me
AGENT_SECRET=replace-me

# obtain from Woodpecker once you've logged in
WOODPECKER_TOKEN=replace-me-with-your-woodpecker-pat
